In [1]:
from airsenal.framework.prediction_utils import *

In [2]:
model = get_player_model()

INFO:pystan:COMPILING THE C++ CODE FOR MODEL anon_model_8c4b3dae224ed40cd55af0e4da27a5f1 NOW.
/anaconda3/envs/airsenalenv/lib/python3.7/site-packages/Cython/Compiler/Main.py:369: FutureWarning: Cython directive 'language_level' not set, using 2 for now (Py2). This will change in a later release! File: /var/folders/xv/d5nvn2ps5r3fcf276w707n01qdmpqf/T/tmppml2d0jv/stanfit4anon_model_8c4b3dae224ed40cd55af0e4da27a5f1_8158779649765637709.pyx
  tree = Parsing.p_module(s, pxd, full_module_name)

## FWD

In [3]:
df, fit, data = fit_player_data(model, 'FWD', CURRENT_SEASON, session)

Filling history dataframe for Sergio Agüero: 0/70 done
Filling history dataframe for Harry Kane: 1/70 done
Filling history dataframe for Pierre-Emerick Aubameyang: 2/70 done
Filling history dataframe for Alexandre Lacazette: 3/70 done
Filling history dataframe for Roberto Firmino: 4/70 done
Filling history dataframe for Gabriel Fernando de Jesus: 5/70 done
Filling history dataframe for Jamie Vardy: 6/70 done
Filling history dataframe for Marcus Rashford: 7/70 done
Filling history dataframe for Romelu Lukaku: 8/70 done
Filling history dataframe for Callum Wilson: 9/70 done
Filling history dataframe for Sébastien Haller: 10/70 done
Filling history dataframe for Raúl Jiménez: 11/70 done
Filling history dataframe for Olivier Giroud: 12/70 done
Filling history dataframe for Tammy Abraham: 13/70 done
Filling history dataframe for Marko Arnautovic: 14/70 done
Filling history dataframe for Moise Kean: 15/70 done
Filling history dataframe for Teemu Pukki: 16/70 done
Filling history dataframe for Michy Batshuayi: 17/70 done
Filling history dataframe for Ashley Barnes: 18/70 done
Filling history dataframe for Joshua King: 19/70 done
Filling history dataframe for Chris Wood: 20/70 done
Filling history dataframe for Troy Deeney: 21/70 done
Filling history dataframe for Gerard Deulofeu: 22/70 done
Filling history dataframe for Diogo Jota: 23/70 done
Filling history dataframe for Wesley Moraes: 24/70 done
Filling history dataframe for Neal Maupay: 25/70 done
Filling history dataframe for Christian Benteke: 26/70 done
Filling history dataframe for Dominic Calvert-Lewin: 27/70 done
Filling history dataframe for Billy Sharp: 28/70 done
Filling history dataframe for Charlie Austin: 29/70 done
Filling history dataframe for Danny Ings: 30/70 done
Filling history dataframe for Danny Welbeck: 31/70 done
Filling history dataframe for Javier Hernández Balcázar: 32/70 done
Filling history dataframe for Glenn Murray: 33/70 done
Filling history dataframe for Cenk Tosun: 34/70 done
Filling history dataframe for Kelechi Iheanacho: 35/70 done
Filling history dataframe for Joelinton Cássio Apolinário de Lira: 36/70 done
Filling history dataframe for Oliver McBurnie: 37/70 done
Filling history dataframe for Che Adams: 38/70 done
Filling history dataframe for Andre Gray: 39/70 done
Filling history dataframe for Albian Ajeti: 40/70 done
Filling history dataframe for Patrick Cutrone: 41/70 done
Filling history dataframe for Jay Rodriguez: 42/70 done
Filling history dataframe for Divock Origi: 43/70 done
Filling history dataframe for Jürgen Locadia: 44/70 done
Filling history dataframe for Andy Carroll: 45/70 done
Filling history dataframe for David McGoldrick: 46/70 done
Filling history dataframe for Jonathan Kodjia: 47/70 done
Filling history dataframe for Dominic Solanke: 48/70 done
Filling history dataframe for Matej Vydra: 49/70 done
Filling history dataframe for Yoshinori Muto: 50/70 done
Filling history dataframe for Dennis Srbeny: 51/70 done
Filling history dataframe for Josip Drmic: 52/70 done
Filling history dataframe for Florin Andone: 53/70 done
Filling history dataframe for Jordan Ayew: 54/70 done
Filling history dataframe for Jose Luis Mato Sanmartín: 55/70 done
Filling history dataframe for Michael Obafemi: 56/70 done
Filling history dataframe for Lys Mousset: 57/70 done
Filling history dataframe for Shane Long: 58/70 done
Filling history dataframe for Isaac Success Ajayi: 59/70 done
Filling history dataframe for Edward Nketiah: 60/70 done
Filling history dataframe for Gabriel Teodoro Martinelli Silva: 61/70 done
Filling history dataframe for Sam Surridge: 62/70 done
Filling history dataframe for Connor Wickham: 63/70 done
Filling history dataframe for Rhian Brewster: 64/70 done
Filling history dataframe for Mason Greenwood: 65/70 done
Filling history dataframe for Sam Gallagher: 66/70 done
Filling history dataframe for Vincent Janssen: 67/70 done
Filling history dataframe for Troy Parrott: 68/70 done
Filling history dataframe for Alexandre Nascimento Costa Silva: 69/70 done
Alpha is [19.72564296  8.35067265 39.25225583]

In [21]:
df['name'] = [get_player_name(idx) for idx in df.index]
df = df[['name', 'pr_score', 'pr_assist', 'pr_neither', 'pos']] # reorder cols

In [14]:
df.sort_values(by='pr_score', ascending=False).head(10)

                                name  pr_score  pr_assist  pr_neither  pos
player_id
338                       Harry Kane  0.383163   0.089471    0.527366  FWD
44                      Glenn Murray  0.366620   0.070015    0.563365  FWD
166                      Jamie Vardy  0.348417   0.110120    0.541463  FWD
11         Pierre-Emerick Aubameyang  0.345802   0.126909    0.527288  FWD
312                   Charlie Austin  0.345155   0.116202    0.538643  FWD
278                      Teemu Pukki  0.337343   0.118729    0.543929  FWD
210                    Sergio Agüero  0.336298   0.116494    0.547208  FWD
90                     Ashley Barnes  0.335938   0.090197    0.573864  FWD
386        Javier Hernández Balcázar  0.327685   0.126016    0.546299  FWD
364                       Andre Gray  0.319969   0.120605    0.559427  FWD

In [16]:
df.sort_values(by='pr_score', ascending=True).head(10)

                            name  pr_score  pr_assist  pr_neither  pos
player_id
187              Roberto Firmino  0.207145   0.126852    0.666003  FWD
147        Dominic Calvert-Lewin  0.239187   0.163749    0.597064  FWD
233              Marcus Rashford  0.244247   0.133483    0.622270  FWD
468                  Jordan Ayew  0.245210   0.139576    0.615215  FWD
69               Dominic Solanke  0.247876   0.130053    0.622072  FWD
167            Kelechi Iheanacho  0.251093   0.181790    0.567117  FWD
315                   Shane Long  0.253932   0.118023    0.628045  FWD
339              Vincent Janssen  0.254748   0.127211    0.618041  FWD
129            Christian Benteke  0.255750   0.117612    0.626638  FWD
512                Danny Welbeck  0.257944   0.119248    0.622808  FWD

In [17]:
df.sort_values(by='pr_assist', ascending=False).head(10)

                            name  pr_score  pr_assist  pr_neither  pos
player_id
167            Kelechi Iheanacho  0.251093   0.181790    0.567117  FWD
147        Dominic Calvert-Lewin  0.239187   0.163749    0.597064  FWD
385             Marko Arnautovic  0.280689   0.161753    0.557557  FWD
409                 Raúl Jiménez  0.295337   0.156572    0.548090  FWD
410                   Diogo Jota  0.272782   0.151036    0.576182  FWD
67                 Callum Wilson  0.270832   0.146938    0.582230  FWD
12           Alexandre Lacazette  0.274171   0.142877    0.582952  FWD
468                  Jordan Ayew  0.245210   0.139576    0.615215  FWD
110               Olivier Giroud  0.309749   0.135278    0.554973  FWD
313                   Danny Ings  0.299749   0.133517    0.566733  FWD

In [18]:
df.sort_values(by='pr_assist', ascending=True).head(10)

                               name  pr_score  pr_assist  pr_neither  pos
player_id
44                     Glenn Murray  0.366620   0.070015    0.563365  FWD
338                      Harry Kane  0.383163   0.089471    0.527366  FWD
90                    Ashley Barnes  0.335938   0.090197    0.573864  FWD
91                       Chris Wood  0.309405   0.090708    0.599887  FWD
68                      Joshua King  0.297422   0.092603    0.609976  FWD
232                   Romelu Lukaku  0.318831   0.094899    0.586271  FWD
261        Jose Luis Mato Sanmartín  0.281628   0.095103    0.623270  FWD
461                 Michy Batshuayi  0.296054   0.099760    0.604186  FWD
46                    Florin Andone  0.310970   0.100591    0.588439  FWD
520                    Andy Carroll  0.280339   0.101020    0.618642  FWD

In [20]:
df.sort_values(by='pr_neither', ascending=True).head(10)

                                name  pr_score  pr_assist  pr_neither  pos
player_id
11         Pierre-Emerick Aubameyang  0.345802   0.126909    0.527288  FWD
338                       Harry Kane  0.383163   0.089471    0.527366  FWD
312                   Charlie Austin  0.345155   0.116202    0.538643  FWD
166                      Jamie Vardy  0.348417   0.110120    0.541463  FWD
278                      Teemu Pukki  0.337343   0.118729    0.543929  FWD
386        Javier Hernández Balcázar  0.327685   0.126016    0.546299  FWD
210                    Sergio Agüero  0.336298   0.116494    0.547208  FWD
409                     Raúl Jiménez  0.295337   0.156572    0.548090  FWD
110                   Olivier Giroud  0.309749   0.135278    0.554973  FWD
460                    Tammy Abraham  0.315876   0.127101    0.557023  FWD

In [19]:
df.sort_values(by='pr_neither', ascending=False).head(10)

                               name  pr_score  pr_assist  pr_neither  pos
player_id
187                 Roberto Firmino  0.207145   0.126852    0.666003  FWD
365             Isaac Success Ajayi  0.259099   0.109676    0.631226  FWD
315                      Shane Long  0.253932   0.118023    0.628045  FWD
129               Christian Benteke  0.255750   0.117612    0.626638  FWD
261        Jose Luis Mato Sanmartín  0.281628   0.095103    0.623270  FWD
512                   Danny Welbeck  0.257944   0.119248    0.622808  FWD
233                 Marcus Rashford  0.244247   0.133483    0.622270  FWD
69                  Dominic Solanke  0.247876   0.130053    0.622072  FWD
362                     Troy Deeney  0.264761   0.113714    0.621524  FWD
520                    Andy Carroll  0.280339   0.101020    0.618642  FWD

## MID

In [22]:
df, fit, data = fit_player_data(model, 'MID', CURRENT_SEASON, session)

Filling history dataframe for Mohamed Salah: 0/218 done
Filling history dataframe for Raheem Sterling: 1/218 done
Filling history dataframe for Sadio Mané: 2/218 done
Filling history dataframe for Kevin De Bruyne: 3/218 done
Filling history dataframe for Heung-Min Son: 4/218 done
Filling history dataframe for Nicolas Pépé: 5/218 done
Filling history dataframe for Leroy Sané: 6/218 done
Filling history dataframe for Christian Eriksen: 7/218 done
Filling history dataframe for Paul Pogba: 8/218 done
Filling history dataframe for Riyad Mahrez: 9/218 done
Filling history dataframe for Bamidele Alli: 10/218 done
Filling history dataframe for Richarlison de Andrade: 11/218 done
Filling history dataframe for Gylfi Sigurdsson: 12/218 done
Filling history dataframe for Bernardo Mota Veiga de Carvalho e Silva: 13/218 done
Filling history dataframe for Anthony Martial: 14/218 done
Filling history dataframe for Christian Pulisic: 15/218 done
Filling history dataframe for Lucas Rodrigues Moura da Silva: 16/218 done
Filling history dataframe for Giovani Lo Celso: 17/218 done
Filling history dataframe for Ryan Fraser: 18/218 done
Filling history dataframe for David Silva: 19/218 done
Filling history dataframe for Mesut Özil: 20/218 done
Filling history dataframe for Willian Borges Da Silva: 21/218 done
Filling history dataframe for Pedro Rodríguez Ledesma: 22/218 done
Filling history dataframe for James Maddison: 23/218 done
Filling history dataframe for Michail Antonio: 24/218 done
Filling history dataframe for Henrikh Mkhitaryan: 25/218 done
Filling history dataframe for Wilfried Zaha: 26/218 done
Filling history dataframe for Luka Milivojevic: 27/218 done
Filling history dataframe for Alexis Sánchez: 28/218 done
Filling history dataframe for Felipe Anderson Pereira Gomes: 29/218 done
Filling history dataframe for Pascal Groß: 30/218 done
Filling history dataframe for Ruben Loftus-Cheek: 31/218 done
Filling history dataframe for Bernard Anício Caldeira Duarte: 32/218 done
Filling history dataframe for Youri Tielemans: 33/218 done
Filling history dataframe for Jesse Lingard: 34/218 done
Filling history dataframe for Ismaïla Sarr: 35/218 done
Filling history dataframe for Manuel Lanzini: 36/218 done
Filling history dataframe for David Brooks: 37/218 done
Filling history dataframe for Theo Walcott: 38/218 done
Filling history dataframe for Ayoze Pérez: 39/218 done
Filling history dataframe for Alex Oxlade-Chamberlain: 40/218 done
Filling history dataframe for Xherdan Shaqiri: 41/218 done
Filling history dataframe for Juan Mata: 42/218 done
Filling history dataframe for Nathan Redmond: 43/218 done
Filling history dataframe for Pablo Fornals: 44/218 done
Filling history dataframe for Mario Vrancic: 45/218 done
Filling history dataframe for Mason Mount: 46/218 done
Filling history dataframe for Tanguy Ndombele: 47/218 done
Filling history dataframe for Jack Grealish: 48/218 done
Filling history dataframe for Junior Stanislas: 49/218 done
Filling history dataframe for Harry Wilson: 50/218 done
Filling history dataframe for Leandro Trossard: 51/218 done
Filling history dataframe for Johann Berg Gudmundsson: 52/218 done
Filling history dataframe for Dwight McNeil: 53/218 done
Filling history dataframe for Callum Hudson-Odoi: 54/218 done
Filling history dataframe for Daniel James: 55/218 done
Filling history dataframe for Miguel Almirón: 56/218 done
Filling history dataframe for Emiliano Buendía: 57/218 done
Filling history dataframe for Erik Lamela: 58/218 done
Filling history dataframe for Conor Hourihane: 59/218 done
Filling history dataframe for José Ignacio Peleteiro Romallo: 60/218 done
Filling history dataframe for Arnaut Danjuma Groeneveld: 61/218 done
Filling history dataframe for Alireza Jahanbakhsh: 62/218 done
Filling history dataframe for Ross Barkley: 63/218 done
Filling history dataframe for Andros Townsend: 64/218 done
Filling history dataframe for Alex Iwobi: 65/218 done
Filling history dataframe for Harvey Barnes: 66/218 done
Filling history dataframe for Adam Lallana: 67/218 done
Filling history dataframe for Naby Keita: 68/218 done
Filling history dataframe for James Ward-Prowse: 69/218 done
Filling history dataframe for Abdoulaye Doucouré: 70/218 done
Filling history dataframe for Roberto Pereyra: 71/218 done
Filling history dataframe for Andriy Yarmolenko: 72/218 done
Filling history dataframe for Daniel Ceballos Fernández: 73/218 done
Filling history dataframe for John McGinn: 74/218 done
Filling history dataframe for Reiss Nelson: 75/218 done
Filling history dataframe for Anwar El Ghazi: 76/218 done
Filling history dataframe for Mahmoud Ahmed Ibrahim Hassan: 77/218 done
Filling history dataframe for José Heriberto Izquierdo Mena: 78/218 done
Filling history dataframe for Anthony Knockaert: 79/218 done
Filling history dataframe for Robbie Brady: 80/218 done
Filling history dataframe for Steven Defour: 81/218 done
Filling history dataframe for Mateo Kovacic: 82/218 done
Filling history dataframe for Max Meyer: 83/218 done
Filling history dataframe for Jeffrey Schlupp: 84/218 done
Filling history dataframe for Tom Davies: 85/218 done
Filling history dataframe for Marc Albrighton: 86/218 done
Filling history dataframe for Dennis Praet: 87/218 done
Filling history dataframe for Fabio Henrique Tavares: 88/218 done
Filling history dataframe for Jordan Henderson: 89/218 done
Filling history dataframe for Georginio Wijnaldum: 90/218 done
Filling history dataframe for James Milner: 91/218 done
Filling history dataframe for Rodrigo Hernandez: 92/218 done
Filling history dataframe for Allan Saint-Maximin: 93/218 done
Filling history dataframe for Marco Stiepermann: 94/218 done
Filling history dataframe for Luke Freeman: 95/218 done
Filling history dataframe for Sofiane Boufal: 96/218 done
Filling history dataframe for Harry Winks: 97/218 done
Filling history dataframe for Will Hughes: 98/218 done
Filling history dataframe for Robert Snodgrass: 99/218 done
Filling history dataframe for Rúben Diogo da Silva Neves: 100/218 done
Filling history dataframe for João Filipe Iria Santos Moutinho: 101/218 done
Filling history dataframe for Granit Xhaka: 102/218 done
Filling history dataframe for Jeff Hendrick: 103/218 done
Filling history dataframe for Ashley Westwood: 104/218 done
Filling history dataframe for Robert Kenedy Nunes do Nascimento: 105/218 done
Filling history dataframe for James McArthur: 106/218 done
Filling history dataframe for André Filipe Tavares Gomes: 107/218 done
Filling history dataframe for Rachid Ghezzal: 108/218 done
Filling history dataframe for Demarai Gray: 109/218 done
Filling history dataframe for Phil Foden: 110/218 done
Filling history dataframe for Ilkay Gündogan: 111/218 done
Filling history dataframe for Frederico Rodrigues de Paula Santos: 112/218 done
Filling history dataframe for Christian Atsu: 113/218 done
Filling history dataframe for Onel Hernández: 114/218 done
Filling history dataframe for Patrick Roberts: 115/218 done
Filling history dataframe for Mark Duffy: 116/218 done
Filling history dataframe for Callum Robinson: 117/218 done
Filling history dataframe for Mohamed Elyounoussi: 118/218 done
Filling history dataframe for Stuart Armstrong: 119/218 done
Filling history dataframe for Moussa Djenepo: 120/218 done
Filling history dataframe for Ryan Sessegnon: 121/218 done
Filling history dataframe for Fernando Luiz Rosa: 122/218 done
Filling history dataframe for Joseph Willock: 123/218 done
Filling history dataframe for Lewis Cook: 124/218 done
Filling history dataframe for Dan Gosling: 125/218 done
Filling history dataframe for Jefferson Lerma: 126/218 done
Filling history dataframe for Philip Billing: 127/218 done
Filling history dataframe for Yves Bissouma: 128/218 done
Filling history dataframe for Davy Pröpper: 129/218 done
Filling history dataframe for Solomon March: 130/218 done
Filling history dataframe for Aaron Mooy: 131/218 done
Filling history dataframe for Jack Cork: 132/218 done
Filling history dataframe for Jorge Luiz Frello Filho: 133/218 done
Filling history dataframe for N'Golo Kanté: 134/218 done
Filling history dataframe for Ademola Lookman: 135/218 done
Filling history dataframe for Idrissa Gueye: 136/218 done

Filling history dataframe for Jean-Philippe Gbamin: 137/218 done
Filling history dataframe for Wilfred Ndidi: 138/218 done
Filling history dataframe for Andreas Pereira: 139/218 done
Filling history dataframe for Scott McTominay: 140/218 done
Filling history dataframe for Jonjo Shelvey: 141/218 done
Filling history dataframe for Sean Longstaff: 142/218 done
Filling history dataframe for Rolando Aarons: 143/218 done
Filling history dataframe for Kenny McLean: 144/218 done
Filling history dataframe for Oliver Norwood: 145/218 done
Filling history dataframe for Victor Wanyama: 146/218 done
Filling history dataframe for Moussa Sissoko: 147/218 done
Filling history dataframe for Eric Dier: 148/218 done
Filling history dataframe for Georges-Kévin Nkoudou: 149/218 done
Filling history dataframe for Etienne Capoue: 150/218 done
Filling history dataframe for Declan Rice: 151/218 done
Filling history dataframe for Mark Noble: 152/218 done
Filling history dataframe for Morgan Gibbs-White: 153/218 done
Filling history dataframe for Adama Traoré: 154/218 done
Filling history dataframe for Hélder Costa: 155/218 done
Filling history dataframe for Ivan Cavaleiro: 156/218 done
Filling history dataframe for Pedro Lomba Neto: 157/218 done
Filling history dataframe for Lucas Torreira: 158/218 done
Filling history dataframe for Andre Green: 159/218 done
Filling history dataframe for Jordon Ibe: 160/218 done
Filling history dataframe for Andrew Surman: 161/218 done
Filling history dataframe for Aaron Lennon: 162/218 done
Filling history dataframe for Cheikhou Kouyaté: 163/218 done
Filling history dataframe for Víctor Camarasa: 164/218 done
Filling history dataframe for Angel Gomes: 165/218 done
Filling history dataframe for Nemanja Matic: 166/218 done
Filling history dataframe for Sung-yueng Ki: 167/218 done
Filling history dataframe for Jacob Murphy: 168/218 done
Filling history dataframe for John Fleck: 169/218 done
Filling history dataframe for Ravel Morrison: 170/218 done
Filling history dataframe for Ben Osborn: 171/218 done
Filling history dataframe for Mario Lemina: 172/218 done
Filling history dataframe for Pierre-Emile Højbjerg: 173/218 done
Filling history dataframe for Tom Cleverley: 174/218 done
Filling history dataframe for Ken Sema: 175/218 done
Filling history dataframe for Jack Wilshere: 176/218 done
Filling history dataframe for Todd Cantwell: 177/218 done
Filling history dataframe for Matteo Guendouzi: 178/218 done
Filling history dataframe for Birkir Bjarnason: 179/218 done
Filling history dataframe for Keinan Davis: 180/218 done
Filling history dataframe for Henri Lansbury: 181/218 done
Filling history dataframe for Douglas Luiz Soares de Paulo: 182/218 done
Filling history dataframe for Marvelous Nakamba: 183/218 done
Filling history dataframe for Beram Kayal: 184/218 done
Filling history dataframe for Dale Stephens: 185/218 done
Filling history dataframe for Daniel Drinkwater: 186/218 done
Filling history dataframe for Ethan Ampadu: 187/218 done
Filling history dataframe for Luke Dreher: 188/218 done
Filling history dataframe for James McCarthy: 189/218 done
Filling history dataframe for Morgan Schneiderlin: 190/218 done
Filling history dataframe for Matty James: 191/218 done
Filling history dataframe for Daniel Amartey: 192/218 done
Filling history dataframe for Nampalys Mendy: 193/218 done
Filling history dataframe for Hamza Choudhury: 194/218 done
Filling history dataframe for Rafael Camacho: 195/218 done
Filling history dataframe for James Garner: 196/218 done
Filling history dataframe for Isaac Hayden: 197/218 done
Filling history dataframe for Jack Colback: 198/218 done
Filling history dataframe for Moritz Leitner: 199/218 done
Filling history dataframe for Alexander Tettey: 200/218 done
Filling history dataframe for Tom Trybull: 201/218 done
Filling history dataframe for Ibrahim Amadou: 202/218 done
Filling history dataframe for Muhamed Bešić: 203/218 done
Filling history dataframe for Tyreke Johnson: 204/218 done
Filling history dataframe for Callum Slattery: 205/218 done
Filling history dataframe for Oriol Romeu Vidal: 206/218 done
Filling history dataframe for Luke Amos: 207/218 done
Filling history dataframe for Oliver Skipp: 208/218 done
Filling history dataframe for Nathaniel Chalobah: 209/218 done
Filling history dataframe for Domingos Quina: 210/218 done
Filling history dataframe for Carlos Sánchez: 211/218 done
Filling history dataframe for Grady Diangana: 212/218 done
Filling history dataframe for Pedro Obiang: 213/218 done
Filling history dataframe for Leander Dendoncker: 214/218 done
Filling history dataframe for Mohamed Elneny: 215/218 done
Filling history dataframe for Andy King: 216/218 done
Filling history dataframe for Tahith Chong: 217/218 done
Alpha is [ 7.37492105  7.90256754 52.69040132]

In [23]:
df['name'] = [get_player_name(idx) for idx in df.index]
df = df[['name', 'pr_score', 'pr_assist', 'pr_neither', 'pos']] # reorder cols

In [24]:
df.sort_values(by='pr_score', ascending=False).head(10)

                             name  pr_score  pr_assist  pr_neither  pos
player_id
191                 Mohamed Salah  0.270216   0.136018    0.593766  MID
342                 Heung-Min Son  0.209518   0.150627    0.639855  MID
192                    Sadio Mané  0.201992   0.099879    0.698129  MID
239               Anthony Martial  0.201660   0.153632    0.644708  MID
240                Alexis Sánchez  0.199478   0.162560    0.637962  MID
265                   Ayoze Pérez  0.190778   0.107794    0.701428  MID
214               Raheem Sterling  0.184200   0.182564    0.633236  MID
150        Richarlison de Andrade  0.172564   0.126744    0.700692  MID
134              Luka Milivojevic  0.170961   0.061360    0.767680  MID
151              Gylfi Sigurdsson  0.167716   0.154909    0.677375  MID

In [25]:
df.sort_values(by='pr_score', ascending=True).head(10)

                         name  pr_score  pr_assist  pr_neither  pos
player_id
247             Nemanja Matic  0.038883   0.065951    0.895166  MID
198          Jordan Henderson  0.041942   0.066670    0.891388  MID
349            Moussa Sissoko  0.042909   0.086704    0.870387  MID
119              N'Golo Kanté  0.048686   0.054705    0.896609  MID
350                 Eric Dier  0.048825   0.038224    0.912951  MID
156             Idrissa Gueye  0.049310   0.067859    0.882831  MID
221        Fernando Luiz Rosa  0.050006   0.051841    0.898154  MID
102                 Jack Cork  0.052115   0.060601    0.887284  MID
79                 Lewis Cook  0.053444   0.091401    0.855155  MID
18               Granit Xhaka  0.054028   0.084439    0.861533  MID

In [26]:
df.sort_values(by='pr_assist', ascending=False).head(10)

                              name  pr_score  pr_assist  pr_neither  pos
player_id
215                Kevin De Bruyne  0.085864   0.203022    0.711115  MID
96         Johann Berg Gudmundsson  0.101260   0.196107    0.702633  MID
75                     Ryan Fraser  0.118982   0.183151    0.697867  MID
214                Raheem Sterling  0.184200   0.182564    0.633236  MID
343              Christian Eriksen  0.122327   0.179233    0.698440  MID
133                  Wilfried Zaha  0.160562   0.178057    0.661381  MID
216                     Leroy Sané  0.135526   0.176682    0.687792  MID
389                Michail Antonio  0.163354   0.173592    0.663054  MID
98                    Robbie Brady  0.091749   0.163246    0.745005  MID
238                     Paul Pogba  0.137834   0.162917    0.699249  MID

In [27]:
df.sort_values(by='pr_assist', ascending=True).head(10)

                              name  pr_score  pr_assist  pr_neither  pos
player_id
350                      Eric Dier  0.048825   0.038224    0.912951  MID
328              Oriol Romeu Vidal  0.057800   0.042557    0.899643  MID
395                    Declan Rice  0.061233   0.050466    0.888301  MID
221             Fernando Luiz Rosa  0.050006   0.051841    0.898154  MID
348                 Victor Wanyama  0.075389   0.054241    0.870370  MID
118        Jorge Luiz Frello Filho  0.065839   0.054259    0.879902  MID
119                   N'Golo Kanté  0.048686   0.054705    0.896609  MID
21                Matteo Guendouzi  0.055925   0.060557    0.883518  MID
102                      Jack Cork  0.052115   0.060601    0.887284  MID
134               Luka Milivojevic  0.170961   0.061360    0.767680  MID

In [28]:
df.sort_values(by='pr_neither', ascending=True).head(10)

                       name  pr_score  pr_assist  pr_neither  pos
player_id
191           Mohamed Salah  0.270216   0.136018    0.593766  MID
214         Raheem Sterling  0.184200   0.182564    0.633236  MID
240          Alexis Sánchez  0.199478   0.162560    0.637962  MID
342           Heung-Min Son  0.209518   0.150627    0.639855  MID
239         Anthony Martial  0.201660   0.153632    0.644708  MID
133           Wilfried Zaha  0.160562   0.178057    0.661381  MID
389         Michail Antonio  0.163354   0.173592    0.663054  MID
151        Gylfi Sigurdsson  0.167716   0.154909    0.677375  MID
77         Junior Stanislas  0.163143   0.151356    0.685501  MID
217            Riyad Mahrez  0.158157   0.155776    0.686067  MID

In [29]:
df.sort_values(by='pr_neither', ascending=False).head(10)

                         name  pr_score  pr_assist  pr_neither  pos
player_id
350                 Eric Dier  0.048825   0.038224    0.912951  MID
328         Oriol Romeu Vidal  0.057800   0.042557    0.899643  MID
221        Fernando Luiz Rosa  0.050006   0.051841    0.898154  MID
119              N'Golo Kanté  0.048686   0.054705    0.896609  MID
247             Nemanja Matic  0.038883   0.065951    0.895166  MID
198          Jordan Henderson  0.041942   0.066670    0.891388  MID
395               Declan Rice  0.061233   0.050466    0.888301  MID
102                 Jack Cork  0.052115   0.060601    0.887284  MID
21           Matteo Guendouzi  0.055925   0.060557    0.883518  MID
156             Idrissa Gueye  0.049310   0.067859    0.882831  MID

## DEF

In [30]:
df, fit, data = fit_player_data(model, 'DEF', CURRENT_SEASON, session)

Filling history dataframe for Andrew Robertson: 0/183 done
Filling history dataframe for Trent Alexander-Arnold: 1/183 done
Filling history dataframe for Virgil van Dijk: 2/183 done
Filling history dataframe for Aymeric Laporte: 3/183 done
Filling history dataframe for Marcos Alonso: 4/183 done
Filling history dataframe for David Luiz Moreira Marinho: 5/183 done
Filling history dataframe for Antonio Rüdiger: 6/183 done
Filling history dataframe for César Azpilicueta: 7/183 done
Filling history dataframe for Lucas Digne: 8/183 done
Filling history dataframe for Ricardo Domingos Barbosa Pereira: 9/183 done
Filling history dataframe for Kyle Walker: 10/183 done
Filling history dataframe for Benjamin Mendy: 11/183 done
Filling history dataframe for Matt Doherty: 12/183 done
Filling history dataframe for Yerry Mina: 13/183 done
Filling history dataframe for Aaron Wan-Bissaka: 14/183 done
Filling history dataframe for Héctor Bellerín: 15/183 done
Filling history dataframe for Kieran Tierney: 16/183 done
Filling history dataframe for Emerson Palmieri dos Santos: 17/183 done
Filling history dataframe for Patrick van Aanholt: 18/183 done
Filling history dataframe for Michael Keane: 19/183 done
Filling history dataframe for Seamus Coleman: 20/183 done
Filling history dataframe for Benjamin Chilwell: 21/183 done
Filling history dataframe for Joseph Gomez: 22/183 done
Filling history dataframe for Oleksandr Zinchenko: 23/183 done
Filling history dataframe for John Stones: 24/183 done
Filling history dataframe for João Pedro Cavaco Cancelo: 25/183 done
Filling history dataframe for Harry Maguire: 26/183 done
Filling history dataframe for Victor Lindelöf: 27/183 done
Filling history dataframe for Luke Shaw: 28/183 done
Filling history dataframe for Matt Ritchie: 29/183 done
Filling history dataframe for Ben Davies: 30/183 done
Filling history dataframe for Toby Alderweireld: 31/183 done
Filling history dataframe for Danny Rose: 32/183 done
Filling history dataframe for Davinson Sánchez: 33/183 done
Filling history dataframe for Kieran Trippier: 34/183 done
Filling history dataframe for Jonathan Castro Otto: 35/183 done
Filling history dataframe for Shkodran Mustafi: 36/183 done
Filling history dataframe for Sead Kolasinac: 37/183 done
Filling history dataframe for Fabian Delph: 38/183 done
Filling history dataframe for Djibril Sidibé: 39/183 done
Filling history dataframe for Joel Matip: 40/183 done
Filling history dataframe for Dejan Lovren: 41/183 done
Filling history dataframe for Nicolás Otamendi: 42/183 done
Filling history dataframe for Chris Smalling: 43/183 done
Filling history dataframe for Ashley Young: 44/183 done
Filling history dataframe for Jan Vertonghen: 45/183 done
Filling history dataframe for Ainsley Maitland-Niles: 46/183 done
Filling history dataframe for Sokratis Papastathopoulos: 47/183 done
Filling history dataframe for Nacho Monreal: 48/183 done
Filling history dataframe for Laurent Koscielny: 49/183 done
Filling history dataframe for Steve Cook: 50/183 done
Filling history dataframe for Nathan Aké: 51/183 done
Filling history dataframe for Shane Duffy: 52/183 done
Filling history dataframe for Ben Mee: 53/183 done
Filling history dataframe for James Tarkowski: 54/183 done
Filling history dataframe for Andreas Christensen: 55/183 done
Filling history dataframe for Kurt Zouma: 56/183 done
Filling history dataframe for Reece James: 57/183 done
Filling history dataframe for James Tomkins: 58/183 done
Filling history dataframe for Mamadou Sakho: 59/183 done
Filling history dataframe for Jonny Evans: 60/183 done
Filling history dataframe for Danilo Luiz da Silva: 61/183 done
Filling history dataframe for Eric Bailly: 62/183 done
Filling history dataframe for Fabian Schär: 63/183 done
Filling history dataframe for Enda Stevens: 64/183 done
Filling history dataframe for Jannik Vestergaard: 65/183 done
Filling history dataframe for Ryan Bertrand: 66/183 done
Filling history dataframe for Yan Valery: 67/183 done
Filling history dataframe for Juan Foyth: 68/183 done
Filling history dataframe for Serge Aurier: 69/183 done
Filling history dataframe for Kyle Walker-Peters: 70/183 done
Filling history dataframe for Craig Dawson: 71/183 done
Filling history dataframe for Aaron Cresswell: 72/183 done
Filling history dataframe for Conor Coady: 73/183 done
Filling history dataframe for Ryan Bennett: 74/183 done
Filling history dataframe for Willy Boly: 75/183 done
Filling history dataframe for Leighton Baines: 76/183 done
Filling history dataframe for James Justin: 77/183 done
Filling history dataframe for José Ángel Esmorís Tasende: 78/183 done
Filling history dataframe for Marcos Rojo: 79/183 done
Filling history dataframe for José Diogo Dalot Teixeira: 80/183 done
Filling history dataframe for Matteo Darmian: 81/183 done
Filling history dataframe for Phil Jones: 82/183 done
Filling history dataframe for Cédric Soares: 83/183 done
Filling history dataframe for José Holebas: 84/183 done
Filling history dataframe for Jesús Vallejo Lázaro: 85/183 done
Filling history dataframe for Lewis Dunk: 86/183 done
Filling history dataframe for Erik Pieters: 87/183 done
Filling history dataframe for Carl Jenkinson: 88/183 done
Filling history dataframe for Rob Holding: 89/183 done
Filling history dataframe for Calum Chambers: 90/183 done
Filling history dataframe for Ahmed El Mohamady: 91/183 done
Filling history dataframe for Neil Taylor: 92/183 done
Filling history dataframe for Kortney Hause: 93/183 done
Filling history dataframe for Tyrone Mings: 94/183 done
Filling history dataframe for Ezri Konsa Ngoyo: 95/183 done
Filling history dataframe for Bjorn Engels: 96/183 done
Filling history dataframe for Charlie Daniels: 97/183 done
Filling history dataframe for Chris Mepham: 98/183 done
Filling history dataframe for Simon Francis: 99/183 done
Filling history dataframe for Adam Smith: 100/183 done
Filling history dataframe for Lloyd Kelly: 101/183 done
Filling history dataframe for Martín Montoya: 102/183 done
Filling history dataframe for Bernardo Fernandes da Silva Junior: 103/183 done
Filling history dataframe for Gaëtan Bong: 104/183 done
Filling history dataframe for Matthew Clarke: 105/183 done
Filling history dataframe for Dan Burn: 106/183 done
Filling history dataframe for Adam Webster: 107/183 done
Filling history dataframe for Matthew Lowton: 108/183 done
Filling history dataframe for Phil Bardsley: 109/183 done
Filling history dataframe for Kevin Long: 110/183 done
Filling history dataframe for Davide Zappacosta: 111/183 done
Filling history dataframe for Fikayo Tomori: 112/183 done
Filling history dataframe for Joel Ward: 113/183 done
Filling history dataframe for Scott Dann: 114/183 done
Filling history dataframe for Gary Cahill: 115/183 done
Filling history dataframe for Lewis Gibson: 116/183 done
Filling history dataframe for Mason Holgate: 117/183 done
Filling history dataframe for Christian Fuchs: 118/183 done
Filling history dataframe for Çaglar Söyüncü: 119/183 done
Filling history dataframe for DeAndre Yedlin: 120/183 done
Filling history dataframe for Federico Fernández: 121/183 done
Filling history dataframe for Paul Dummett: 122/183 done
Filling history dataframe for Javier Manquillo: 123/183 done
Filling history dataframe for Florian Lejeune: 124/183 done
Filling history dataframe for Jamaal Lascelles: 125/183 done
Filling history dataframe for Ciaran Clark: 126/183 done
Filling history dataframe for Jetro Willems: 127/183 done
Filling history dataframe for Emil Krafth: 128/183 done
Filling history dataframe for Timm Klose: 129/183 done
Filling history dataframe for Ben Godfrey: 130/183 done
Filling history dataframe for Maximillian Aarons: 131/183 done
Filling history dataframe for Christoph Zimmermann: 132/183 done
Filling history dataframe for Jamal Lewis: 133/183 done
Filling history dataframe for Sam Byram: 134/183 done
Filling history dataframe for Jack O'Connell: 135/183 done
Filling history dataframe for George Baldock: 136/183 done
Filling history dataframe for John Egan: 137/183 done
Filling history dataframe for Chris Basham: 138/183 done
Filling history dataframe for Jan Bednarek: 139/183 done
Filling history dataframe for Jack Stephens: 140/183 done

Filling history dataframe for Maya Yoshida: 141/183 done
Filling history dataframe for Wesley Hoedt: 142/183 done
Filling history dataframe for Kevin Danso: 143/183 done
Filling history dataframe for Francisco Femenía Far: 144/183 done
Filling history dataframe for Craig Cathcart: 145/183 done
Filling history dataframe for Angelo Ogbonna: 146/183 done
Filling history dataframe for Arthur Masuaku: 147/183 done
Filling history dataframe for Ryan Fredericks: 148/183 done
Filling history dataframe for Issa Diop: 149/183 done
Filling history dataframe for Fabián Balbuena: 150/183 done
Filling history dataframe for Rúben Gonçalo Silva Nascimento Vinagre: 151/183 done
Filling history dataframe for Romain Saïss: 152/183 done
Filling history dataframe for Konstantinos Mavropanos: 153/183 done
Filling history dataframe for James Chester: 154/183 done
Filling history dataframe for Matt Targett: 155/183 done
Filling history dataframe for Frédéric Guilbert: 156/183 done
Filling history dataframe for Jack Stacey: 157/183 done
Filling history dataframe for Leon Balogun: 158/183 done
Filling history dataframe for Charlie Taylor: 159/183 done
Filling history dataframe for Wes Morgan: 160/183 done
Filling history dataframe for Axel Tuanzebe: 161/183 done
Filling history dataframe for Kieron Freeman: 162/183 done
Filling history dataframe for Phil Jagielka: 163/183 done
Filling history dataframe for Christian Kabasele: 164/183 done
Filling history dataframe for Adam Masina: 165/183 done
Filling history dataframe for Adrian Mariappa: 166/183 done
Filling history dataframe for Daryl Janmaat: 167/183 done
Filling history dataframe for Pablo Zabaleta: 168/183 done
Filling history dataframe for John Lundstram: 169/183 done
Filling history dataframe for Diego Rico: 170/183 done
Filling history dataframe for Jack Simpson: 171/183 done
Filling history dataframe for Ben Gibson: 172/183 done
Filling history dataframe for Martin Kelly: 173/183 done
Filling history dataframe for Grant Hanley: 174/183 done
Filling history dataframe for Philip Heise: 175/183 done
Filling history dataframe for Richard Stearman: 176/183 done
Filling history dataframe for Kayne Ramsay: 177/183 done
Filling history dataframe for Marc Navarro: 178/183 done
Filling history dataframe for Sebastian Prödl: 179/183 done
Filling history dataframe for Winston Reid: 180/183 done
Filling history dataframe for Ben Johnson: 181/183 done
Filling history dataframe for Max Kilman: 182/183 done
Alpha is [ 2.22924856  3.48320088 67.9596817 ]

In [31]:
df['name'] = [get_player_name(idx) for idx in df.index]
df = df[['name', 'pr_score', 'pr_assist', 'pr_neither', 'pos']] # reorder cols

In [32]:
df.sort_values(by='pr_score', ascending=False).head(10)

                          name  pr_score  pr_assist  pr_neither  pos
player_id
123        Patrick van Aanholt  0.088639   0.037734    0.873627  DEF
103              Marcos Alonso  0.066086   0.071191    0.862724  DEF
259               Ciaran Clark  0.061802   0.034557    0.903640  DEF
439               Craig Dawson  0.053503   0.025778    0.920719  DEF
59                  Nathan Aké  0.052589   0.038474    0.908937  DEF
252               Fabian Schär  0.050423   0.033589    0.915988  DEF
405                 Willy Boly  0.046409   0.022037    0.931553  DEF
124              James Tomkins  0.046362   0.019624    0.934014  DEF
401               Matt Doherty  0.045864   0.083178    0.870959  DEF
359              Daryl Janmaat  0.045857   0.047728    0.906415  DEF

In [33]:
df.sort_values(by='pr_score', ascending=True).head(10)

                     name  pr_score  pr_assist  pr_neither  pos
player_id
207           John Stones  0.005845   0.011808    0.982348  DEF
62          Simon Francis  0.007035   0.037110    0.955855  DEF
203           Kyle Walker  0.007462   0.055145    0.937393  DEF
85         Matthew Lowton  0.007475   0.045516    0.947009  DEF
231            Phil Jones  0.007561   0.021430    0.971009  DEF
378        Arthur Masuaku  0.008376   0.057813    0.933811  DEF
447          Erik Pieters  0.008615   0.052452    0.938933  DEF
128          Martin Kelly  0.008652   0.031558    0.959790  DEF
184          Joseph Gomez  0.008725   0.031825    0.959451  DEF
330        Jan Vertonghen  0.008912   0.013917    0.977171  DEF

In [34]:
df.sort_values(by='pr_assist', ascending=False).head(10)

,name,pr_score,pr_assist,pr_neither,pos
player_id,,,,,
251,Matt Ritchie,0.043299,0.121522,0.835179,DEF
334,Kieran Trippier,0.013003,0.113641,0.873357,DEF
182,Trent Alexander-Arnold,0.017049,0.102873,0.880078,DEF
353,José Holebas,0.036038,0.101143,0.862819,DEF
159,Ricardo Domingos Barbosa Pereira,0.027043,0.087795,0.885162,DEF
181,Andrew Robertson,0.013159,0.087561,0.899280,DEF
3,Sead Kolasinac,0.020251,0.084562,0.895187,DEF
401,Matt Doherty,0.045864,0.083178,0.870959,DEF
204,Benjamin Mendy,0.010657,0.082231,0.907111,DEF
337,Kyle Walker-Peters,0.012898,0.078521,0.908581,DEF

In [35]:
df.sort_values(by='pr_assist', ascending=True).head(10)

                         name  pr_score  pr_assist  pr_neither  pos
player_id
185                Joel Matip  0.023273   0.011052    0.965675  DEF
331         Toby Alderweireld  0.010026   0.011164    0.978810  DEF
207               John Stones  0.005845   0.011808    0.982348  DEF
503               Gary Cahill  0.038624   0.013266    0.948110  DEF
330            Jan Vertonghen  0.008912   0.013917    0.977171  DEF
7           Laurent Koscielny  0.039827   0.016858    0.943315  DEF
208          Nicolás Otamendi  0.023426   0.016865    0.959709  DEF
228               Eric Bailly  0.015468   0.017226    0.967307  DEF
356           Adrian Mariappa  0.009361   0.018911    0.971727  DEF
354        Christian Kabasele  0.040832   0.019388    0.939780  DEF

In [36]:
df.sort_values(by='pr_neither', ascending=True).head(10)

,name,pr_score,pr_assist,pr_neither,pos
player_id,,,,,
251,Matt Ritchie,0.043299,0.121522,0.835179,DEF
103,Marcos Alonso,0.066086,0.071191,0.862724,DEF
353,José Holebas,0.036038,0.101143,0.862819,DEF
401,Matt Doherty,0.045864,0.083178,0.870959,DEF
334,Kieran Trippier,0.013003,0.113641,0.873357,DEF
123,Patrick van Aanholt,0.088639,0.037734,0.873627,DEF
182,Trent Alexander-Arnold,0.017049,0.102873,0.880078,DEF
141,Lucas Digne,0.044450,0.072114,0.883436,DEF
159,Ricardo Domingos Barbosa Pereira,0.027043,0.087795,0.885162,DEF
3,Sead Kolasinac,0.020251,0.084562,0.895187,DEF

In [37]:
df.sort_values(by='pr_neither', ascending=False).head(10)

                          name  pr_score  pr_assist  pr_neither  pos
player_id
207                John Stones  0.005845   0.011808    0.982348  DEF
331          Toby Alderweireld  0.010026   0.011164    0.978810  DEF
330             Jan Vertonghen  0.008912   0.013917    0.977171  DEF
356            Adrian Mariappa  0.009361   0.018911    0.971727  DEF
231                 Phil Jones  0.007561   0.021430    0.971009  DEF
108        Andreas Christensen  0.009697   0.019589    0.970714  DEF
403                Conor Coady  0.010270   0.020748    0.968982  DEF
255               Paul Dummett  0.010781   0.021780    0.967440  DEF
41                 Gaëtan Bong  0.010788   0.021793    0.967418  DEF
228                Eric Bailly  0.015468   0.017226    0.967307  DEF